<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>weebshitidk</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #212121;
        color: #f8f9fa
    }

    .jumbotron {
        margin-top: 10px;
        background-color: #212121;
        color: #f8f9fa
    }

    .container-fluid {
        background-color: #1a1a1a;
        color: #1a1a1a;
        border-color: #1a1a1a
    }
</style>
