<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <style>
        .navbar-default {
            background-color: #1a1a1a;
            border-color :#1a1a1a;
            color: #1a1a1a;
        }
    </style>
    
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                weebshitidk
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    
    </div>
    </nav>
    