<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<style>
    body {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #212121;
        color: #f8f9fa
    }

    .jumbotron {
        margin-top: 10px;
        background-color: #212121;
        color: #f8f9fa
    }

    .container-fluid {
        background-color: #1a1a1a;
        color: #1a1a1a;
        border-color: #1a1a1a
    }
</style>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>wesley is gae</h1>
            <h2>and thats a good meme</h2>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>