<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>i brok sami's headphones</h1>
            <h2>whoops</h2>
            <h3>oh yeh u can follow him on social media
                <a href="http://instagram.com/excision_z" target="_blank">here.</a>
            </h3>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>